*{
	font-family: 'Poppins', sans-serif;
	padding: 0;
	margin: 0;
	text-decoration: none;
	scroll-behavior: smooth;
}
body{
	background: var(--bg-color);
	color: var(--text-color);
}
header{
	position: fixed;
	width: 100%;
	top: 0;
	right: 0;
	z-index: 10;
}
section{
	max-width: 1110px;
	margin: 0 auto;
	padding-top: 100px;
}
:root{
	--bg-color: #F5F5F5;
	--text-color: #37260c;
	--main-color: #c8c696;
	--second-color: #3b3a1b;
	--big-font: 4.5rem;
	--h2-font: 3.2rem;
	--p-font: 1rem;
}

/* ids e class */
.logo-header img{
	width: 50px;
}
#header{
	max-width: 1100px;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px;
}
.navbar-header{
	display: flex;
	list-style: none;
}
.navbar-header li{
	position: relative;
}
.navbar-header a{
	color: var(--text-color);
	font-size: var(--p-font);
	font-weight: 500;
	padding: 10px 20px;
}
.navbar-header a::after{
	content: '';
	position: absolute;
	width: 0%;
	height: 2px;
	background: var(--main-color);
	bottom: -5px;
	left: 0;
	transition: ease .50s;
}
.navbar-header a:hover::after{
	width: 100%;
}
#navbar-icon{
	font-size: 25px;
	color: var(--text-color);
	z-index: 11;

	display: none;
}
.btn-header{
	display: inline-block;
	padding: 10px 25px;
	border: 2px solid var(--main-color);
	border-radius: 10px;
	color: var(--text-color);
	letter-spacing: 1px;
	font-size: var(--p-font);
	font-weight: 500;
	transition: ease .50s;
}
.btn-header:hover{
	color: var(--bg-color);
	background: var(--main-color);
	transform: scale(1.2);
}
.home{
	min-height: 100vh;
	height: 100%;
	width: 100%;
	position: relative;
	display: grid; 
	grid-template-columns: repeat(2, 1fr);
	align-items: center;
	grid-gap: 5rem;
}
.home-text h1{
	margin: 12px 0 5px 0;
	font-size: var(--big-font);
}
.home-text h5{
	margin-bottom: 20px;
	font-size: 24px;
}
.home-text span{
	color:  var(--main-color);
}
.home-text p{
	font-size: var(--p-font);
	color: var(--second-color);
	line-height: 25px;
	margin-bottom: 20px;
}
.home-social-media a{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	background: var(--main-color);
	color: var(--bg-color);
	margin: 0 20px 30px 0;
}
.home-social-media a:hover{
	transform: scale(1.2);
	background: var();
	transition: .50s;
}
.btn{
	display: inline-block;
	color: var(--bg-color);
	background: var(--main-color);
	font-size: var(--p-font);
	padding: 10px 35px;
	border-radius: 10px;
	transition: ease .50s;
}
.btn:hover{
	transform: scale(1.2);
}
header.sticky{
	background: rgba(255, 255, 255, 0.8);
	padding: 5px 0;
	box-shadow: 0 0 10px rgb(0 0 0 / 20%);
}
.habilidades-itens{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(210px, auto));
	grid-gap: 2rem;
	align-items: center;
	text-align: center;
	margin-bottom: 100px;
}
.habilidade-item{
	padding: 50px;
	transition: ease .50s;
	cursor: pointer;
}
.habilidade-item-image img{
	max-width: 100%;
	width: 80px;
	height: auto;
	margin-bottom: 20px;
}
.habilidade-item h3{
	font-size: 20px;
	margin-bottom: 20px;
}
.shabilidade-item p{
	font-size: var(--p-font);
	color: var(--second-color);
	line-height: 25px;
}
.habilidade-item:hover{
	background: #fff;
	box-shadow: 20px 0 90px 0 rgb(10 10 70 / 10%);
	border-radius: 10px;
	will-change: transform;
	transform: perspective(1000px) rotateX(4.80deg) rotateY(10.2deg) scale3d(1.0, 1.0, 1.0);
}
.about{
	background-color: #c8c69652;
	padding: 30px;
	display: grid;
	grid-template-columns: repeat(2, 2fr);
	align-items: center;
	grid-gap: 2rem;
	border-radius: 10px;
	margin-bottom: 50px;
}
.about img{
	max-width: 100%;
	width: 450px;
	height: auto;
}
.about-text h3{
	font-size: 32px;
	margin-bottom: 20px;
}
.about-text p{
	font-size: var(--p-font);
	color: var(--second-color);
	line-height: 25px;
	margin-bottom: 20px;
}
.projetos {
    padding: 50px 20px;
    text-align: center;
}

.projetos-head h3 {
    font-size: 32px;
    margin-bottom: 30px;
    color: var(--text-color);
}

.projetos-content {
    display: flex;
    justify-content: center;
    gap: 70px;
    flex-wrap: wrap;
}
.projeto {
    position: relative;
    width: 500px;
    overflow: hidden;
    border-radius: 10px;
    transition: transform 0.5s ease;
}
.projeto img {
    width: 100%;
    height: auto;
    display: block;
    transition: transform 0.3s ease;
}
.projeto-info {
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    text-align: center;
}
.projeto-info p {
    font-size: 16px;
    color: var(--second-color);
    margin-bottom: 15px;
}
.projeto-info .btn {
    padding: 10px 20px;
    background: var(--main-color);
    color: var(--bg-color);
    border-radius: 5px;
    text-decoration: none;
}

.curso-content {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}
.curso-head h3{
	font-size: 25px;
    margin-bottom: 20px;
	text-align: center;
}
.curso-icon {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

.curso-icon i {
    font-size: 40px;
    color: var(--main-color);
    transition: color 0.3s ease;
}

.curso-info {
    position: absolute;
    top: 120px; /* Posição abaixo do ícone */
    background: #fff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    text-align: center;
    width: 150px;
}

.curso-info h3 {
    font-size: 16px;
    margin-bottom: 5px;
    color: var(--text-color);
}

.curso-info p {
    font-size: 14px;
    color: var(--second-color);
}

.curso-icon:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
}

.curso-icon:hover i {
    color: var(--second-color);
}

.curso-icon:hover .curso-info {
    opacity: 1;
    visibility: visible;
}
.contact {
    background: #c8c696;
    margin-top: 150px;
    padding: 50px 20px; /* Reduzi o padding lateral para melhorar a responsividade */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 10px;
}

.contact-text h3 {
    font-size: 25px;
    color: var(--bg-color);
    margin-bottom: 20px;
}

.contact-icons {
    display: flex;
    gap: 40px; /* Espaçamento entre os ícones */
    flex-wrap: wrap; /* Para que os ícones quebrem linha em telas pequenas */
    justify-content: center;
}

.contact-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: var(--bg-color);
    transition: transform 0.3s ease, color 0.3s ease;
}

.contact-icon i {
    font-size: 50px; /* Tamanho dos ícones */
    margin-bottom: 10px; /* Espaçamento entre o ícone e o texto */
    transition: transform 0.3s ease;
}

.contact-icon span {
    font-size: 16px;
    font-weight: 500;
}

.contact-icon:hover i {
    transform: scale(1.2); /* Aumenta o ícone ao passar o mouse */
}

footer{
	text-align: center;
	padding: 30px 0;
	font-size: var(--p-font);
	color: var(--second-color);
}

/* Responsive */

@media(max-width: 1200px){
	section{
		padding-left: 20px;
		padding-right: 20px;
		transition: .3s;
	}
	.home-image img{
		max-width: 450px;
		transition: .3s;
	}
	:root{
		--big-font: 4rem;
		--h2-font: 2.5rem;
		--p-font: 1rem;
		transition: .3s;
	}
}
@media(max-width: 860px){
	.home{
		grid-template-columns: 1fr;
		min-height: 100vh;
		grid-gap: 1rem;
	}
	.home-image{
		text-align: center;
	}
}
@media(max-width: 768px){
	#navbar-icon{
		display: block;
	}
	:root{
		--big-font: 3rem;
		--h2-font: 0.8rem;
		transition: .3s;
	}
	.home{
		min-height: 80%;
	}
	.navbar-header{
		position: absolute;
		top: -1000px;
		left: 0;
		right: 0;
		flex-direction: column;
		background: #ccc;
		opacity: 0.8;
		text-align: center;
		transition: all .50s;
	}
	.navbar-header a{
		display: block;
		padding: 0.8rem;

	}
	.navbar-header a:hover{
		background: var(--main-color);
		color: var(--bg-color);
	}
	.navbar-header a::after{
		display: none;
	}
	.navbar-header.active{
		top: 100%;
	}
	.habilidades-itens {
	    grid-template-columns: 1fr;
	}
	.about {
	    grid-template-columns: 1fr;
	}
	.about-image{
		text-align: center;
	}
	.about-text{
		text-align: center;
	}
	.curso-content{
		grid-template-columns: 2fr;
	}
}
@media(max-width: 480px){
	.home-image img{
		max-width: 300px;
		transition: .3s;
	}
	.form input[type="email"]{
		width: 300px;
		margin-bottom: 5px;
	}
	
}
